@model ErhanAkcayCET322FinalProject.Models.Team

@{
    ViewData["Title"] = "Create";
}
@section head{
    <style type="text/css">
        body {
            background-image: url(../images/stadiumbackground.jpg);
            margin: 0;
        }
    </style>
}

<h3 align="left">Create Team</h3>


<hr />
<h5 align="left">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label align="left" asp-for="TeamName" class="control-label"></label>
                    <input align="left" asp-for="TeamName" class="form-control" />
                    <span align="left" asp-validation-for="TeamName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label align="left" asp-for="Country" class="control-label"></label>
                    <input align="left" asp-for="Country" class="form-control" />
                    <span align="left" asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label align="left" asp-for="City" class="control-label"></label>
                    <input align="left" asp-for="City" class="form-control" />
                    <span align="left" asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</h5>
<div>
    <h6> <a asp-action="Index">Back to List</a></h6>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
