@model IEnumerable<ErhanAkcayCET322FinalProject.Models.Team>

    <div>
        <ul>
            @foreach (var item in Model)
            {
                <li class="selected"><a href="">@item.TeamName</a></li>
            }


        </ul>

    </div>
