
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_admin.cshtml";
}

@section head{
    <style type="text/css">
        body {
            background-image: url(../images/stadiumbackground.jpg);
            margin: 0;
        }
    </style>
    }
    <h1>Admin Area</h1>
    <p>Use this section of the website to add new information and edit existing stuff</p>